.about-container{
    display: flex;
    flex-direction: row;

    height: 100dvh;
}
.caption{
    display: flex;
    align-items: center;
    padding-left: calc(15px + 2vw);
    padding-right: calc(15px + 2vw);;
    font-size: calc(10px + 2vw);
}
.desc{
    font-size:calc(12px + 1.2vw);
    padding: 10vh calc(5px + 5vw);
    background-color: #FDF6E6;
}
.skills{
    padding-left: calc(7px + 2vw);
    height: 50dvh;
}
.experience{
    height: 50dvh;
}

h1{
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
}

.fade-in{
    opacity: 1;
    transform: translateY(0);
}

.exp-desc{
    font-size: 0.9rem;
    padding-left: 15px;
    padding-top: 15px;
}

.exp-desc > li{
    margin-bottom: 3px;
}

.exp-details{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .caption{
        height: 20dvh;
        padding-left: calc(5px + 1vw);
        padding-right: calc(5px + 1vw);
    }
    .desc{
        height: 80dvh;
        padding-left: calc(5px + 1vw);
    }
    .exp-desc{
        font-size: 0.8rem;
    }
    .exp-desc > li{
        font-size: 0.7rem;
    }

    .inst-name{
        display:block;
    }
}