.about-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.caption{
    width: 40vw;
    display: flex;
    align-items: center;
    padding-left: calc(30px + 1.2vw);
    padding-right: calc(30px + 1.2vw);;
    font-size: calc(14px + 2vw);
}
.desc{
    font-size:calc(12px + 1.2vw);
    padding: 10vh calc(5px + 5vw);
    background-color: #f3e5c3;;
}
.skills{

    height: 50vh;
}
.experience{
    height: 50vh;
}