<div class="about-container">
    <div class="caption">
       <h1>Software developer <br/>with a love for design</h1> 
    </div>
    <div class="desc">
        <div class="experience">
            X years of experience as an Angular developer.
            I have also worked on ASP.NET core for creating WEB APIs.
        </div>

        <div class="skills">
            <ul>
                <li>Angular 6+</li>
                <li>ASP.NET Core</li>
                <li>HTML,CSS, Javascript</li>
                <li>Python</li>
            </ul>
        </div>
    </div>
</div>
