.nav-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:  calc(40px + 1.2vw);
    padding-top: 7vh;
}
.btn{
    text-decoration: none;
    color: black;
    margin-left: 45px;
    padding: 5px 15px;
    font-size: calc(12px + 1.2vw);
    cursor: pointer;
}


.contact, .about{
    transition: all 0.3s ease-in-out;
}
.contact > .btn{
    border: 2px solid black;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 500px) {
    .nav-container{
        display: flex;
        justify-content: center;
        padding-right:  0;
    }
    .about > .btn{
        margin-left: 5px;
    }
    .contact > .btn{
        margin-left: 25px;
    }
}
@media (hover: hover) {
    .btn:hover{
        border: 2px solid black;
    }

    .btn:hover::after{
        border: none;
    }

    .btn:focus::after{
        border: none;
    }
    .contact:hover,.about:hover{
        transform: scale(0.9);
    }
    .contact:hover::after,.about:hover::after{
        transform: scale(1);
    }
    .contact:focus::after,.about:focus::after{
        transform: scale(1);
    }

    
}