
<div class="project-container">
    <mat-card class = "card">
        <mat-card-header>
            <mat-card-title><b>BlueFrost</b></mat-card-title>
        </mat-card-header>
        <mat-card-content class = "card-content">
            <p>A weather app, shows weather of current location and other locations.</p>
        </mat-card-content>
        <mat-card-actions class = "links">
            <a href="https://github.com/AbhishekAjoy/BlueFrost" role="button" aria-label="github project link">
                <img ngSrc="../../assets/github.svg"alt="project source code" height="30" width="30">
            </a>
            <a href="https://bluefrost.netlify.app/" role="button" aria-label="project live link">
                <img ngSrc="../../assets/web.svg"alt="project source code" height="30" width="30">
            </a>
        </mat-card-actions>
    </mat-card>
    <mat-card class = "card">
        <mat-card-header>
            <mat-card-title><b>myKanban</b></mat-card-title>
        </mat-card-header>
        <mat-card-content clas = "card-content">
            <p>This is a todo app for personal use. Users can create multiple boards, and drag and drop todo items to different statuses</p>
        </mat-card-content>
        <mat-card-actions>
            <a href="https://github.com/AbhishekAjoy/myKanban" role="button" aria-label="github project link">
                <img ngSrc="../../assets/github.svg"alt="project source code" height="30" width="30">
            </a>
        </mat-card-actions>
    </mat-card>
    <mat-card class = "card">
        <mat-card-header>
            <mat-card-title><b>Fbook</b></mat-card-title>
        </mat-card-header>
        <mat-card-content clas = "card-content">
            <p>A social media app. Built for Angular course final project from Edureka</p>
        </mat-card-content>
        <mat-card-actions>
            <a href="https://github.com/AbhishekAjoy/Fbook" role="button" aria-label="github project link">
                <img ngSrc="../../assets/github.svg"alt="project source code" height="30" width="30">
            </a>
        </mat-card-actions>
    </mat-card>
</div>

