<div class="contact-container">
    <h1 #animate id ="find-text">Find me on:</h1>
    <div class="links">
        <a href="https://in.linkedin.com/in/abhishek-ajoy-menon"> 
            <img src="../../assets/linkedin.svg" alt="linked-in" id = "linkedin">
        </a>
        <a href="https://github.com/AbhishekAjoy">
            <img src="../../assets/github.svg"alt="github">
        </a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=abhiajoy23@gmail.com">
            <img src="../../assets/envelope-solid.svg" alt="gmail">
        </a>
        <br/>
    </div>
    <div id = "phone">
        <img src="../../assets/phone-solid.svg" alt="phone">
        <p>+91-7902799692</p>
    </div>
    
</div>
