
.app-container{
    background-color: #FDF6E6;
    color: black;
    padding-left: 5px;
}

section{
    scroll-snap-align: start;
  }

.app-content{
    width: auto;
    height: 90dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.intro{
    /*margin-top: calc(70px + 10vh);*/
    font-size: calc(14px + 2.5dvw);
}
img#my-photo{
    /*margin-top: calc(50px + 7vh);*/
    max-width: 220px;
    width: calc(70px + 20vw);
    height: auto;
}

h1{
    opacity: 0;
    transform: translateY(-40px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
}

.fade-in{
    opacity: 1;
    transform: translateY(0);
}