body{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}
.app-container{
    background-color: #FDF6E6;
    color: black;
    padding-left: 10vw;
}

section{
    scroll-snap-align: start;
  }

.app-content{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.intro{
    margin-top: 20vh;
    font-size: calc(14px + 2.5vw);
}
img#my-photo{
    margin-top: 8vh;
    max-height: 500px;
    width: auto;
    height: 70vh;
}