/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/GeneralSans-Medium.woff2') format('woff2'),
         url('./assets/GeneralSans-Medium.woff') format('woff'),
         url('./assets/GeneralSans-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-family: 'General Sans', sans-serif;
}